.success-inline
    background-color: #effaf3
    border-color: #48c774
    color: #257942
    margin-left: 0.5em !important
    display: inline-block !important
    padding-left: 0.5em !important
    padding-right: 0.5em !important
    padding-top: 3px !important
    padding-bottom: 0px !important

.info-inline
    border-color: #3298dc;
    color: #1d72aa;
    background-color: #eef6fc;
    margin-left: 0.5em !important
    display: inline-block !important
    padding-left: 0.5em !important
    padding-right: 0.5em !important
    padding-top: 3px !important
    padding-bottom: 0px !important

.warning-inline
    background-color: #fffbeb
    border-color: #ffdd57
    color: #947600
    margin-left: 0.5em !important
    display: inline-block !important
    padding-left: 0.5em !important
    padding-right: 0.5em !important
    padding-top: 3px !important
    padding-bottom: 0px !important

.danger-inline
    background-color: #feecf0
    border-color: #f14668
    color: #cc0f35
    margin-left: 0.5em !important
    display: inline-block !important
    padding-left: 0.5em !important
    padding-right: 0.5em !important
    padding-top: 3px !important
    padding-bottom: 0px !important